<template>
  <div class="main" style="width: 100%">
    <div class="header">
      <v-card style="height: 100%">
        <nav class="navbar navbar-dark bg-dark" style="height: 100%">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Categorias</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ofertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Historial</a>
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </v-card>
    </div>
    <div class="products container">
      <v-container class="grey  -5">
        <v-row no-gutters>
          <v-col class="aside" cols="6" sm="3" md="3" lg="3">
            <v-card class="pa-2" outlined tile> 

            </v-card>
          </v-col>
          <v-col cols="12" sm="8" md="9" lg="9">
            <div class="wrapper">
              <v-card
                style="margin: 5px 5px 5px 5px"
                v-for="product in this.products.data"
                :key="product._id"
              >
                <v-card-title>
                  <img
                    style="background-repeat: no-repeat; background-size: cover"
                    :src="require('../public/images/' + product.image)"
                    width="100%"
                    height="250px"
                    class="card-img-top image"
                    alt="..."
                  />
                </v-card-title>
                <v-card-subtitle
                  style="display: flex; justify-content: space-around"
                >
                  <p>{{ product.nombre }}</p>
                  <p>{{ product.precio }}</p>
                </v-card-subtitle>
              </v-card>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      tab: null,
      items: ["web", "shopping", "videos", "images", "news"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      products: [],
    };
  },
  methods: {},
  async created() {
    this.products = await axios.get("http://localhost:4000/products");
    console.log(this.products);
  },
};
</script>
<style scoped>
.aside{
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e0e00, #1f1c18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: 1 1 220px;
}

.imagesProducts {
  height: 100%;
  max-width: 1600px;
}
.header {
  width: 100%;
  height: 8%;
}
.image {
  cursor: pointer;
}
</style>
