<template>
  <div class="container">
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step
          @click="e1 = 1"
          class="step"
          :complete="e1 > 1"
          step="1"
        >
          Producto
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
          class="step"
          @click="e1 = 2"
          :complete="e1 > 2"
          step="2"
        >
          Subida de imagen
        </v-stepper-step>

        <v-divider></v-divider>

  
      </v-stepper-header>

      <v-stepper-items>
        <step1 :formulary ="this.formulary"/>
        <step2 :formulary ="this.formulary"/>
        <step3 :formulary ="this.formulary"/>   
      </v-stepper-items>
    </v-stepper>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
import step1 from './components/step1';
import step2 from './components/step2';
import step3 from './components/step3';

import axios from "axios";

export default {
  components : {step1 , step2 , step3},
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(10) },
    select: { required },
    checkbox: {
      checked(val) {
        return val;
      },
    },
  },

  data() {
    return {
      e1: 1,
      formulary: {
      },
    };
  },

  computed: {
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox.$dirty) return errors;
      !this.$v.checkbox.checked && errors.push("You must agree to continue!");
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 10 characters long");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
  },

  methods: {
    submit() {
      console.log(this.formulary);
      axios
        .post("http://localhost:4000/products/addProduct", this.formulary, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then(function (response) {
          if (response.status === 200) {
            console.log("Fun");
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    clear() {
      this.$v.$reset();
      this.formulary.name = "";
      this.description = "";
      this.select = null;
      this.checkbox = false;
    },
  },
};
</script>
<style scoped>
.step {
  cursor: pointer;
}
</style>
