<template>
  <v-stepper-content step="2">
    <v-card class="mb-15" color="grey lighten-1" height="30%">
      <div class="input-group mb-3">
        <v-file-input
        id="image"
          @change="verImage()"
          label="Upload file ..."
          filled
          prepend-icon="mdi-camera"
          v-model="image"
        ></v-file-input>
      </div>
      <v-card
        class="mb-1 contImage"
        color="grey lighten-1"
        style="display: flex; justify-content: center"
      >
        <div class="imgCont">
          <img @click="zoomImg()" src="" alt="" />
        </div>
      </v-card>
    </v-card>
    <v-btn color="primary" @click="e1 = 3 && sendForm()"> Submit </v-btn>

    <v-btn text> Cancel </v-btn>
  </v-stepper-content>
</template>
<script>
import axios from "axios";
export default {
  props: ["formulary"],
  data() {
    return {
      e1: 1,
    };
  },
  methods: {
    sendForm() {
        var blobFile = document.getElementById('image').files[0];
        var formData = new FormData();
        
        formData.append("image", blobFile , blobFile.name);
        formData.append("name" , this.formulary.name);
        formData.append("description" , this.formulary.description);
        formData.append("price" , this.formulary.price);
        formData.append("stock" , this.formulary.stock);
        formData.append("stateProduct" , this.formulary.stateProduct);

        axios({
        method: "post",
        url: "http://localhost:4000/products/addProduct",
        data: formData,
        headers: { 
            "Authorization": "Basic 123",
            "content-type": `multipart/form-data `,
            }
      })
        .then(function (response) {
          //handle success
          console.log(response);
        })
        .catch(function (response) {
          //handle error
          console.log(response);
        });
    },
    zoomImg() {
      let img = document.getElementsByClassName("imgCont");
      if (this.image != "") {
        img[0].style.display = "block";
        console.log(img[0]);
      } else {
        console.log("Nada");
      }
    },
    verImage() {
      var preview = document.querySelector("img");
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onloadend = function () {
        preview.src = reader.result;
      };
      if (file) {
        reader.readAsDataURL(file);
        this.zoomImg();
      } else {
        preview.src = "";
      }
    },
  },
};
</script>
<style scoped>
.imgCont {
  display: none;
  height: 200px;
  width: 20%;
  margin-bottom: 10%;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.2s;
  cursor: pointer;
  height: 250px;
  width: 150px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transform: scale(
    1.7
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>