<template>
  <v-stepper-content step="1">
    <v-card class="mb-12" color="grey lighten-1" height="30vw">
      <form
        enctype="multipart/form-data"
        action="http://localhost:4000/products/addProduct"
        method="POST"
      >
        <div class="mb-3">
          <span class="input-group-text" id="basic-addon3">Name product</span>
          <input
            v-model="name"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <span class="input-group-text">Description</span>
          <textarea
            v-model="description"
            class="form-control"
            aria-label="With textarea"
          ></textarea>
        </div>
        <div class="mb-3">
          <v-container class="grey lighten-5">
            <v-row no-gutters>
              <v-col cols="12" md="3">
                <span class="input-group-text">Price</span>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input
                    v-model.number="price"
                    type="text"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                  <span class="input-group-text">.00</span>
                </div>
              </v-col>
              <v-col cols="12" md="1"> </v-col>
              <v-col cols="12" md="3">
                <span class="input-group-text">State product</span>
                <div class="input-group mb-3">
                  <input
                    v-model="stateProduct"
                    type="text"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                </div>
              </v-col>
              <v-col cols="12" md="2"> </v-col>
              <v-col cols="12" md="3">
                <span class="input-group-text">Stock</span>
                <div class="input-group mb-3">
                  <input
                    v-model.number="stock"
                    type="number"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                  <span class="input-group-text">.00</span>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </form>
    </v-card>

    <v-btn color="primary" @click="e1 = 2 && updateForm()"> Continue </v-btn>

    <v-btn text @click="verForm()"> Cancel </v-btn>
  </v-stepper-content>
</template>
<script>
export default {
  props: ["formulary"],
  data() {
    return {
      e1: 1,
      name: "",
      description: "",
      price: "",
      stateProduct: "",
      stock: "",
    };
  },
  methods: {
    updateForm() {
      this.formulary.name = this.name;
      this.formulary.description = this.description;
      this.formulary.price = this.price;
      this.formulary.stateProduct = this.stateProduct;
      this.formulary.stock = this.stock;
    },
    verForm() {
      console.log(this.formulary);
    },
  },
};
</script>