<template>
  <v-stepper-content step="3">
    <v-card class="mb-12" color="grey lighten-1" height="200px">
      <button class="btn btn-primary w-100 mt-5" @click="sendForm()">
        Confirmar producto
      </button>
    </v-card>

    <v-btn color="primary" @click="e1 = 1"> Continue </v-btn>

    <v-btn text> Cancel </v-btn>
  </v-stepper-content>
</template>
<script>
import axios from "axios";
export default {
  props: ["formulary"],
  data() {
    return {
      e1: 1,
    };
  },
  methods: {
    sendForm() {
      axios({
        method: "post",
        url: "http://localhost:4000/products/addProduct",
        data: this.formulary,
        headers: { 
            "Authorization": "Basic 123",
            "content-type": `multipart/form-data ; boundary=${this.formulary._boundary}`},
      })
        .then(function (response) {
          //handle success
          console.log(response);
        })
        .catch(function (response) {
          //handle error
          console.log(response);
        });
    },
  },
};
</script>