<template>
    <div class="ma-12 pa-12">
    <NavBar/>
      <div class="aside" style="display:flex ">
         <v-card>
        <v-navigation-drawer permanent expand-on-hover  style="height: 1000px">
          <v-list nav dense>
            <v-list-item link>
              <v-list-item-icon>
                <v-icon>mdi-folder</v-icon>
              </v-list-item-icon>
              <router-link to="/">Home</router-link>
            </v-list-item>
            <v-list-item link>
              <v-list-item-icon>
                <v-icon>mdi-account-multiple</v-icon>
              </v-list-item-icon>
              <router-link to="/Product">Products</router-link>
            </v-list-item>
            <v-list-item link>
              <v-list-item-icon>
                <v-icon>mdi-account-multiple</v-icon>
              </v-list-item-icon>
              <router-link to="/NewProduct">Add product</router-link>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>
      <router-view></router-view>
      </div>
    </div>
</template>
<script>
import NavBar from '../components/NavBar'
export default {
    components : {NavBar},
    
};
</script>