<template>
  <v-card class="overflow-hidden">
    <v-app-bar
      absolute
      height="90%"
      color="dark"
      elevate-on-scroll
      scroll-target="#scrolling-techniques-7"
    >
      <v-app-bar-nav-icon @click="Ver()"></v-app-bar-nav-icon>

      <v-toolbar-title>Vue-Eccomerce</v-toolbar-title>

      <v-spacer></v-spacer>

      <div class="log">
        <v-btn icon>
          <v-item><router-link to="/Login">Login</router-link></v-item>
        </v-btn>
        <v-btn icon>
          <v-item><router-link to="/Login">Logout</router-link></v-item>
        </v-btn>
      </div>
    </v-app-bar>
    <v-sheet
      id="scrolling-techniques-7"
      class="overflow-y-auto"
      max-height="600"
    >
      <v-container style="height: 5vw"> </v-container>
    </v-sheet>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      items: [
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me" },
        { title: "Click Me 2" },
      ],
    };
  },
  methods: {
    Ver() {
      console.log();
    },
  },
};
</script>
<style scoped>
.log > button {
  margin-right: 3vw;
}
</style>
